<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
	<f:layout name="Default" />
	<f:section name="main">
		<f:render partial="Registration/RegisterConfirmation" arguments="{_all}" />
	</f:section>
</div>