<div class="tx-maagituser_login{f:if(condition: '{error}', then: ' tx-maagituser_error')}{f:if(condition: '{settings.permalogin} > -1', then: ' tx-maagituser_permalogin')}{f:if(condition: '{settings.recovery}||{settings.registration}', then: ' tx-maagituser_recovery')}">
	<div class="tx-maagituser_header">
		<a href="#" id="tx-maagituser_login_link">
			<f:if condition="!{error}">
				<f:format.html parseFuncTSPath="no.parseFunc"><f:translate key="LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:login.header" /></f:format.html>
			</f:if>
			<f:if condition="{error}">
				<f:format.html parseFuncTSPath="no.parseFunc"><f:translate key="LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:login.header.error" /></f:format.html>
			</f:if>
		</a>
	</div>
	<div class="tx-maagituser_content">
		<f:if condition="!{error}">
			<h3 class="tx-maagituser_title"><f:translate key="LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:login.title" /></h3>
		</f:if>
		<f:if condition="{error}">
			<div class="loginError">
				<h3><f:translate key="LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:login.error.title" /></h3>
				<p><f:translate key="LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:login.error.message" /></p>
			</div>
		</f:if>
		<f:form action="login" requestToken="{requestToken}" id="loginForm" name="loginForm">
			<input type="hidden" id="logintype" name="logintype" value="login" />
		
			<div class="form-group row">
				<f:render partial="FormElements/Label" arguments="{field: 'user', section: 'login', required: 'required'}" />
				<div class="input col-sm-9">
					<input type="email" id="user" name="user" value="{username}" {f:if(condition: '{settings.additionalCSSLoaded}', then: 'autocomplete="off"', else: 'autocomplete="username"')} required="required"  placeholder="{f:translate(key: 'LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:login.user.placeholder')}" class="form-control" />
				</div>
			</div>
			<div class="form-group row">
				<f:render partial="FormElements/Label" arguments="{field: 'pass', section: 'login', required: 'required'}" />
				<div class="input col-sm-9">
					<input type="password" id="pass" name="pass" required="required" {f:if(condition: '{settings.additionalCSSLoaded}', then: 'autocomplete="off"', else: 'autocomplete="current-password"')} placeholder="{f:translate(key: 'LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:login.pass.placeholder')}" class="form-control" />
				</div>
			</div>
			<f:if condition="{settings.permalogin} > -1">
				<div class="form-group row">
					<f:render partial="FormElements/Label" arguments="{field: 'permalogin', section: 'login'}" />
					<div class="input col-sm-9">
						<f:if condition="{settings.permalogin} == 0">
							<f:variable name="checkState"><f:if condition="{isRedirect}&&{permalogin}=='1'">checked="checked"</f:if><f:if condition="!{isRedirect}"></f:if></f:variable>
							<input type="checkbox" id="chkPermalogin" name="permalogin" value="1" {checkState} class="form-check-input" />
						</f:if>
						<f:if condition="{settings.permalogin} == 1">
							<f:variable name="checkState"><f:if condition="{isRedirect}&&{permalogin}=='1'">checked="checked"</f:if><f:if condition="!{isRedirect}">checked="checked"</f:if></f:variable>
							<input type="checkbox" id="chkPermalogin" name="permalogin" value="1" {checkState} class="form-check-input" />
						</f:if>
						<f:if condition="{settings.permalogin} == 2">
							<input type="hidden" id="permalogin" name="permalogin" value="1" />
							<input type="checkbox" id="chkPermalogin" name="permalogin" value="1" checked="checked" disabled="disabled" class="form-check-input" />
						</f:if>
						<label class="form-check-label" for="chkPermalogin">{f:translate(key: 'LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:login.permalogin.checkbox')}</label>
						<f:if condition="{lifetimeFailed}">
							<span class="lifetimeFailed">{f:translate(key: 'LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:login.lifetimeFailed')}</span>
						</f:if>
					</div>
				</div>
			</f:if>
			<div class="actions">
				<nav class="form-navigation">
					<div class="btn-toolbar row" role="toolbar">
						<div class="col-sm-3 p-0 d-none d-sm-block">&nbsp;</div>
						<div class="btn-group next submit col-sm-9">
							<f:form.submit value="{f:translate(key: 'LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:login.submit')}" class="btn btn-primary" />
						</div>
					</div>
				</nav>
			</div>
		</f:form>
		<f:render partial="Links/Login" arguments="{_all}" />
	</div>
</div>