<div class="tx-maagituser_logout{f:if(condition: '{error}', then: ' tx-maagituser_error')}{f:if(condition: '{settings.mutation}', then: ' tx-maagituser_mutation')}{f:if(condition: '{settings.delete}', then: ' tx-maagituser_delete')}">
	<div class="tx-maagituser_header">
		<a href="#" id="tx-maagituser_logout_link">
			<f:if condition="!{error}">
				<f:format.html parseFuncTSPath="no.parseFunc"><f:translate key="LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:logout.header" /></f:format.html>
			</f:if>
			<f:if condition="{error}">
				<f:format.html parseFuncTSPath="no.parseFunc"><f:translate key="LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:logout.header.error" /></f:format.html>
			</f:if>
		</a>
	</div>
	<div class="tx-maagituser_content">
		<f:if condition="!{error}">
			<h3 class="tx-maagituser_title"><f:translate key="LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:logout.title" /></h3>
		</f:if>
		<f:if condition="{error}">
			<div class="logoutError">
				<h3><f:translate key="LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:logout.error.title" /></h3>
				<p><f:translate key="LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:logout.error.message" /></p>
			</div>
		</f:if>

		<f:form action="logout" id="logoutForm" name="logoutForm">
			<input type="hidden" id="pid" name="pid" value="{settings.pages}" />
			<input type="hidden" id="logintype" name="logintype" value="logout" />
		
			<div class="form-group row">
				<f:render partial="FormElements/Label" arguments="{field: 'username', section: 'logout'}" />
				<div class="input col-sm-9">
					<span class="form-control readonly">{user.username}</span>
				</div>
			</div>
			<div class="actions">
				<nav class="form-navigation">
					<div class="btn-toolbar row" role="toolbar">
						<div class="col-sm-3 p-0 d-none d-sm-block">&nbsp;</div>
						<div class="btn-group next submit col-sm-9">
							<f:form.submit value="{f:translate(key: 'LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:logout.submit')}" class="btn btn-primary" />
						</div>
					</div>
				</nav>
			</div>
		</f:form>
		<f:render partial="Links/Logout" arguments="{_all}" />
	</div>
</div>