<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
	<f:layout name="Default" />
	<f:section name="main">
		<p>
			Dummy Template for login process.<br />
			If all is ok, this template is not shown, because there is a redirect in the loginAction.
		</p>
	</f:section>
</div>