<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
	<f:layout name="Default" />
	<f:section name="main">
		<f:if condition="{loggedIn}">
			<f:then>
				<f:render partial="Login/LogoutForm" arguments="{_all}" />
			</f:then>
			<f:else>
				<f:render partial="Login/LoginForm" arguments="{_all}" />
			</f:else>
		</f:if>
	</f:section>
</div>