<f:if condition="{error}">
	<f:then>
		<p>{f:translate(key: 'LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:mutation.activate.confirmation.error')}</p>
	</f:then>
	<f:else>
		<p>{f:translate(key: 'LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:mutation.activate.confirmation')}</p>
	</f:else>
</f:if>
<f:render partial="Links/Mutation" arguments="{_all}" />