<div class="tx-maagituser_mutation">
	<f:if condition="{errors -> f:count()}>0">
		<div class="mutationError">
			<h3><f:translate key="LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:mutation.error.title" /></h3>
			<ul>
				<f:for each="{errors}" as="error">
					<li><f:format.html parseFuncTSPath="no.parseFunc">{error}</f:format.html></li>
				</f:for>
			</ul>
		</div>
	</f:if>

	<f:if condition="{user.username}!=''">
		<f:form action="save" id="mutationForm" name="user" object="{user}" enctype="multipart/form-data">
			<input type="hidden" id="pid" name="pid" value="{settings.pages}" />
			<f:for each="{user.editFields}" as="field">
				<div class="form-group row">
					<f:variable name="required"><f:if condition="{user.editRequiredFields.{field}}"><f:then>required</f:then><f:else></f:else></f:if></f:variable>
					<f:render partial="FormElements/Label" arguments="{field: '{field}', section: 'mutation', required: '{required}'}" />
					<div class="input col-sm-9">
						<f:switch expression="{field}">
							<f:case value="address">
								<f:render section="renderTextareaField" arguments="{user: user, field: field, required: '{required}'}" />
							</f:case>
							<f:case value="email">
								<f:render section="renderTextField" arguments="{user: user, field: field, type: 'email', required: '{required}'}" />
							</f:case>
							<f:case value="emailRepeat">
								<f:render section="renderTextField" arguments="{user: user, field: field, type: 'email', required: '{required}'}" />
							</f:case>
							<f:case value="password">
								<f:render section="renderTextField" arguments="{user: user, field: field, type: 'password', required: '{required}'}" />
							</f:case>
							<f:case value="passwordRepeat">
								<f:render section="renderTextField" arguments="{user: user, field: field, type: 'password', required: '{required}'}" />
							</f:case>
							<f:case value="image">
								<f:form.upload property="picture" id="{field}" class="form-control" />
								<f:if condition="{user.image}">
									<f:image src="{user.image.uid}" treatIdAsReference="true" alt="Image" />
								</f:if>
							</f:case>
							<f:defaultCase>
								<f:render section="renderTextField" arguments="{user: user, field: field, type: 'text', required: '{required}'}" />
							</f:defaultCase>
						</f:switch>
					</div>
				</div>
			</f:for>
			<div class="actions">
				<nav class="form-navigation">
					<div class="btn-toolbar row" role="toolbar">
						<div class="col-sm-3 p-0 d-none d-sm-block">&nbsp;</div>
						<div class="btn-group next submit col-sm-9">
							<f:form.submit value="{f:translate(key: 'LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:mutation.submit')}" class="btn btn-primary" />
							<f:if condition="{settings.deleteLink}">
								&nbsp;&nbsp;
								<f:link.action pageUid="{settings.mutationDeletePid}" pluginName="delete" controller="Delete" action="{f:if(condition: '{settings.mutationDeleteImmediate}', then: 'delete', else: 'show')}" class="btn btn-danger">{f:translate(key: 'LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:delete.submit')}</f:link.action>
							</f:if>
						</div>
					</div>
				</nav>
			</div>
		</f:form>
	</f:if>
	<f:render partial="Links/Mutation" arguments="{_all}" />
</div>


<f:section name="renderTextField">
	<f:form.textfield property="{field}" type="{type}" id="{field}" required="{required}" placeholder="{f:translate(key: 'LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:mutation.{field}.placeholder')}" class="form-control" />
</f:section>


<f:section name="renderTextareaField">
	<f:form.textarea property="{field}" id="{field}" required="{required}" placeholder="{f:translate(key: 'LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:mutation.{field}.placeholder')}" class="form-control" />
</f:section>