<p>
	{f:translate(key: 'LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:mutation.confirm.save')}
	<f:if condition="!{loggedIn} && !{settings.mutationVerify}">
		{f:translate(key: 'LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:mutation.confirm.logout')}
	</f:if>
	<f:if condition="{user.disable} && {settings.mutationVerify}">
		{f:translate(key: 'LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:mutation.confirm.email')}
	</f:if>
</p>
<f:render partial="Links/Mutation" arguments="{_all}" />