<style>
	p {
		margin: 0;
		padding: 0;
	}
</style>

<h1 style="font-size: 14px; font-weight: bold;">
	<f:translate key="LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:recovery.mail.title" />
</h1>

<f:translate key="LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:recovery.mail.intro" />
<br /><br />
<f:link.external uri="{link}" target="_blank"><f:translate key="LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:recovery.mail.link" /></f:link.external> (<f:translate key="LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:recovery.mail.valid" /> {valid})
<br /><br />
<f:translate key="LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:recovery.mail.outro" />
<br /><br />
<f:translate key="LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:recovery.mail.kind" />
<br />
{sender}