<f:if condition="{settings.registrationVerify}">
	<f:then>
		<p>{f:translate(key: 'LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:registration.register.confirmation.verification')}</p>
	</f:then>
	<f:else>
		<p>{f:translate(key: 'LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:registration.register.confirmation')}</p>
	</f:else>
</f:if>
<f:render partial="Links/Registration" arguments="{_all}" />