<f:if condition="{settings.recovery} || {settings.registration}">
	<div class="actions">
		<hr />
		<div class="d-flex justify-content-between">
		    <f:if condition="{settings.recovery}">
				<div><f:link.action pageUid="{settings.recoveryPid}" pluginName="Recovery" controller="Recovery" action="show">{f:translate(key: 'LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:recovery.link')}</f:link.action></div>
			</f:if>
			<f:if condition="{settings.registration}">
		    	<div><f:link.action pageUid="{settings.registrationPid}" pluginName="Registration" controller="Registration" action="show">{f:translate(key: 'LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:registration.link')}</f:link.action></div>
			</f:if>
		</div>
	</div>
</f:if>