<f:if condition="{settings.mutation} || {settings.delete}">
	<div class="actions">
		<hr />
		<div class="d-flex justify-content-between">
		    <f:if condition="{settings.mutation}">
				<div><f:link.action pageUid="{settings.mutationPid}" pluginName="Mutation" controller="Mutation" action="show">{f:translate(key: 'LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:mutation.link')}</f:link.action></div>
			</f:if>
			<f:if condition="{settings.delete}">
		    	<div><f:link.action pageUid="{settings.deletePid}" pluginName="Delete" controller="Delete" action="show">{f:translate(key: 'LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:delete.link')}</f:link.action></div>
			</f:if>
		</div>
	</div>
</f:if>