<f:if condition="{settings.registrationLoginPid}">
	<div class="actions">
		<hr />
		<f:link.page pageUid="{settings.registrationLoginPid}">{f:translate(key: 'LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:login.link')}</f:link.page>
	</div>
</f:if>