<h3>{f:translate(key: 'LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:recovery.change.title')}</h3>

<f:if condition="{error}">
	<div class="recoveryChangeError">
		<p><f:translate key="LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:recovery.change.error.message" /></p>
	</div>
</f:if>

<f:form action="change" id="changeForm" name="changeForm">
	<f:form.hidden id="hash" name="hash" value="{hash}" />
	<div class="form-group row">
		<f:render partial="FormElements/Label" arguments="{field: 'newPass', section: 'recovery.change', required: 'required'}" />
		<div class="input col-sm-9">
			<f:form.password id="newPass" name="newPass" additionalAttributes="{required: 'required'}" autocomplete="new-password" placeholder="{f:translate(key: 'LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:recovery.change.newPass.placeholder')}" class="form-control" />
		</div>
	</div>
	<div class="form-group row">
		<f:render partial="FormElements/Label" arguments="{field: 'newPassRepeat', section: 'recovery.change', required: 'required'}" />
		<div class="input col-sm-9">
			<f:form.password id="newPassRepeat" name="newPassRepeat" additionalAttributes="{required: 'required'}" autocomplete="new-password" placeholder="{f:translate(key: 'LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:recovery.change.newPassRepeat.placeholder')}" class="form-control" />
		</div>
	</div>
	<div class="actions">
		<nav class="form-navigation">
			<div class="btn-toolbar row" role="toolbar">
				<div class="col-sm-3 p-0 d-none d-sm-block">&nbsp;</div>
				<div class="btn-group next submit col-sm-9">
					<f:form.submit value="{f:translate(key: 'LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:recovery.change.submit')}" class="btn btn-primary" />
				</div>
			</div>
		</nav>
	</div>
</f:form>
<f:render partial="Links/Recovery" arguments="{_all}" />