<h3>{f:translate(key: 'LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:recovery.title')}</h3>

<f:if condition="{error}">
	<f:if condition="{message}">
		<div class="recoveryError">
			<h4><f:translate key="LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:recovery.error.message.title" /></h4>
			<p><f:format.html parseFuncTSPath="no.parseFunc">{message}</f:format.html></p>
		</div>
	</f:if>
	<f:if condition="!{message}">
		<div class="recoveryError">
			<p><f:translate key="LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:recovery.error.message" /></p>
		</div>
	</f:if>
</f:if>

<f:form action="send" id="sendForm" name="sendForm">
	<div class="form-group row">
		<f:render partial="FormElements/Label" arguments="{field: 'email', section: 'recovery', required: 'required'}" />
		<div class="input col-sm-9">
			<input type="email" id="email" name="email" value="{email}" required="required" placeholder="{f:translate(key: 'LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:recovery.email.placeholder')}" class="form-control" />
		</div>
	</div>
	<div class="actions">
		<nav class="form-navigation">
			<div class="btn-toolbar row" role="toolbar">
				<div class="col-sm-3 p-0 d-none d-sm-block">&nbsp;</div>
				<div class="btn-group next submit col-sm-9">
					<f:form.submit value="{f:translate(key: 'LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:recovery.submit')}" class="btn btn-primary" />
				</div>
			</div>
		</nav>
	</div>
</f:form>
<f:render partial="Links/Recovery" arguments="{_all}" />