<label class="control-label col-sm-3" for="{field}">
	<f:variable name="langKey">{section}{f:if(condition: '{section}', then: '.')}{field}</f:variable>
	<f:translate key="LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:{langKey}" />
	<f:if condition="{required} == 'required'"><span class="required">*</span></f:if>
</label>