<div class="tx-maagituser_delete">
	<f:if condition="{errors -> f:count()}>0">
		<div class="deleteError">
			<h3><f:translate key="LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:delete.error.title" /></h3>
			<ul>
				<f:for each="{errors}" as="error">
					<li><f:format.html parseFuncTSPath="no.parseFunc">{error}</f:format.html></li>
				</f:for>
			</ul>
		</div>
	</f:if>

	<p>
		<f:translate key="LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:delete.intro" />
	</p>

	<div class="form-group row">
		<f:render partial="FormElements/Label" arguments="{field: 'username', section: 'logout'}" />
		<div class="input col-sm-9">
			<span class="form-control readonly">{user.username}</span>
		</div>
	</div>
	<div class="actions">
		<nav class="form-navigation">
			<div class="btn-toolbar row" role="toolbar">
				<div class="col-sm-3 p-0 d-none d-sm-block">&nbsp;</div>
				<div class="btn-group next submit col-sm-9">
					<f:if condition="{user}">
						<f:link.action action="delete" controller="Delete" class="btn btn-danger">{f:translate(key: 'LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:delete.submit')}</f:link.action>
					</f:if>
				</div>
			</div>
		</nav>
	</div>
	<f:render partial="Links/Delete" arguments="{_all}" />
</div>