<f:if condition="{error}">
	<f:then>
		<p>{f:translate(key: 'LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:delete.confirmed.error')}</p>
	</f:then>
	<f:else>
		<p>{f:translate(key: 'LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:delete.confirmed.confirmation')}</p>
	</f:else>
</f:if>
<f:render partial="Links/Delete" arguments="{_all}" />