<p>
	<f:if condition="!{settings.deleteVerify}">
		{f:translate(key: 'LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:delete.confirm.delete')}
	</f:if>
	<f:if condition="{settings.deleteVerify}">
		{f:translate(key: 'LLL:EXT:maagituser/Resources/Private/Language/locallang.xlf:delete.confirm.email')}
	</f:if>
</p>
<f:render partial="Links/Delete" arguments="{_all}" />